.gjblock > div {
    display: flex;
    flex-direction: column;
}

.gjblock img {
    width: 15%;
}

.gjblock {
    background-color: rgb(248, 246, 125);
}


@media (min-width: 900px) {
    .gjblock > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .gjblock > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .gjblock > div > div:first-of-type {
        margin-left: unset;
    }
}
